@using AdvertisingPortal.Core.Models.Domains;
@model Advertisement

@{
    ViewData["Title"] = Model.Title;
}

<h3 class="mb-4">@Model.Title</h3>
<div class="container">
    <div class="row">
        <div id="carouselPictures" class="col-12 carousel slide d-flex flex-column" data-bs-ride="carousel">
            <div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="h-100 d-flex justify-content-center">
                            <img class="d-block h-100"
                                 @*src="https://picsum.photos/2000/1000" />*@
                                 src="data:image;base64,@System.Convert.ToBase64String(Model.Pictures.ElementAt(0).Image)" />
                        </div>
                        
                    </div>
                    @for (int i = 1; i < Model.Pictures.Count(); i++)
                    {
                        <div class="carousel-item">
                            <div class="h-100 d-flex justify-content-center">
                                <img class="d-block h-100"
                                     @*src="https://picsum.photos/2000/1000" />*@
                                     src="data:image;base64,@System.Convert.ToBase64String(Model.Pictures.ElementAt(i).Image)" />
                            </div>
                        </div>
                    }
                <button class="carousel-control-prev w-auto px-4" type="button" data-bs-target="#carouselPictures" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Poprzedni</span>
                </button>
                    <button class="carousel-control-next w-auto px-4" type="button" data-bs-target="#carouselPictures" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Następny</span>
                </button>

                </div>


            </div>
            <div>
                <div class="carousel-indicators position-relative justify-content-center flex-wrap align-content-around align-items-baseline ms-0 me-0 ">
                    <button style="width: auto" type="button" data-bs-target="#carouselPictures" data-bs-slide-to="0" class="active img-thumbnail" aria-current="true">
                        <img class="d-block h-100 w-auto"
                             @*src="https://picsum.photos/2000/1000" />*@
                             src="data:image;base64,@System.Convert.ToBase64String(Model.Pictures.ElementAt(0).Image)" />
                    </button>

                    @for (int i = 1; i < Model.Pictures.Count(); i++)
                    {
                        <button style="width: auto" type="button" data-bs-target="#carouselPictures" data-bs-slide-to="@i" class="img-thumbnail">
                            <img class="d-block h-100"
                                 src="https://picsum.photos/2000/1000" />
                                 @*src="data:image;base64,@System.Convert.ToBase64String(Model.Pictures.ElementAt(i).Image)" />*@
                        </button>
                    }
                </div>
            </div>
        </div>
    </div>

</div>


